<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Resume</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!--Main container-->
        <div>
            <!--Main content section-->
            <div class="main_content_section">
             <!--About me section-->
                <div class="about_me_section">
                    <h2 class="about_me_profession">Будем надеяться, что хотя бы джун))</h2>
                    <h1>Тимофеев Максим</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                </div>

                <!--My Project section-->
                <div>
                    <h3>Projects</h3>
                    <ol>
                        <li class="project_item_first">
                            <a href="https://github.com/MaxT99/Department">FinalDepartments</a>
                            <span>..........</span>
                            <span>[Servlets, JSP, MySQL, HTML]</span>
                        </li>
                        <li>
                            <a href="https://github.com/MaxT77/HiberDepartment">HiberDepartment</a>
                            <span>..........</span>
                            <span>[Servlets, JSP, Hibernate, HTML]</span>
                        </li>
                        <li>
                            <a href="https://github.com/MaxT77/Departments">Department</a>
                            <span>...................</span>
                            <span>[Servlets, JSP, MySQL, HTML]</span>
                        </li>
                    </ol>
                </div>

                <!--My work experience -->
                <div>
                    <h3>Work Experience</h3>

                    <!--Company 3-->
                    <div class="work_experience_section">
                       <h4>Front-End Developer Freelance</h4>
                        <p>September 2019 - up to now   |   Country</p>
                       <ul>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Risus commodo viverra maecenas.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                       </ul>
                    </div>
                    <!--Company 2-->
                    <div>
                       <h4>Manager Roga & Kopyta New</h4>
                        <p>March 2015 - October 2018   |   Country</p>
                        <ul>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua.
                        Quis ipsum suspendisse ultrices gravida.
                        Risus commodo viverra maecenas.
                        </ul>
                    </div>
                    <!--Company 1-->
                    <div>
                        <h4>Manager Roga & Kopyta LLC</h4>
                        <p>June 2014 - February 2015   |   Country</p>
                        <ul>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quis ipsum suspendisse ultrices gravida.
                        Risus commodo viverra maecenas.
                        </ul>
                    </div>
                </div>
                <!--Education-->
                <div class="education_section">
                        <h3>Education</h3>
                        <h4>Харьковский Автомобильно-Дорожный Университет</h4>
                        <h4>Экономика предприятия</h4>
                        <h4>September 1998- June 2003 | Country</h4>
                    </div>
            </div>
            <!--Sidebar section-->
            <aside>
                <img width="200" src="https://mail.google.com/mail/u/0?ui=2&ik=9c71cf0881&attid=0.1&permmsgid=msg-f:1747198703760986299&th=183f4bf6c9b250bb&view=att&disp=safe&realattid=183f4bf2b42e4c2c8281" alt="My photo">
                <!--Contacts section-->
                <div>
                    <h3>Contacts</h3>
                    <div>
                        <span>C:</span>
                        <a href="tel:+9999999999">+9999999999</a>
                    </div>
                    <div>
                        <span>E:</span>
                        <a href="mailto: horoshie.baletki@gmail.com">MyEmail</a>
                    </div>
                </div>
                <!--Tech skills section-->
                <div>
                    <h3>Tech Skills</h3>
                    <ul>
                        <li>Git</li>
                        <li>JSP</li>
                        <li>JavaScript</li>
                        <li>HTML5</li>
                        <li>WebPack</li>
                        <li>CSS3</li>
                    </ul>
                </div>
                <!--Soft skills section-->
                <div>
                    <h3>Soft Skills</h3>
                    <ul>
                        <li>Scrum</li>
                        <li>Agile</li>
                        <li>GTD</li>
                        <li>Teamwork</li>
                    </ul>
                </div>
            </aside>
        </div>

</body>
</html>